html {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: #0c356a;
}

.heading {
  font-size: 3rem;
  padding: 40px 0 0 0;
  text-decoration: line-through;
  text-decoration-color: black;
  color: #ffc436;
}

.container {
  height: 50vh;
  display: flex;
  justify-content: center;
  text-align: center;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin-top: 50px;
}

.box {
  /* height: 60px; */
  width: 100%;
  border-radius: 10px;
  border: none;
  font-size: 40px;
}

#reset {
  background-color: #ffc436;
  color: black;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  height: 40px;
  width: 70px;
  margin-bottom: 1rem;
  margin-top: 10px;
}

#reset2 {
  background-color: #ffc436;
  color: black;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  height: 40px;
  width: 70px;
}

.hide {
  width: 100%;
  height: 100%;
  padding: 20px 20px 35px 20px;
  background-color: purple;
  position: absolute;
  top: -80vh;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  text-align: center;
  border: 1px solid black;
  transition: all 1.5s ease-in;
  opacity: 1;
  visibility: hidden;
}

.openGameOver {
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  visibility: visible;
}

.menu {
  background-color: #ffc436;
  color: black;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  height: 40px;
  width: 70px;
  margin-bottom: 1rem;
  margin-top: 10px;
}

.menu2 {
  background-color: #ffc436;
  color: black;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  height: 40px;
  width: 70px;
  margin-bottom: 1rem;
  margin-top: 10px;
}

.player1 {
  color: #ffb347;
  font-weight: 900;
  text-decoration: underline;
  text-decoration-color: black;
  margin-top: 15px;
}

.player2 {
  font-weight: 900;
  color: #ffb347;
  text-decoration: underline;
  text-decoration-color: black;
  margin-top: 15px;
}

.rightTurn {
  display: none;
}

.dance {
  height: 20px;
}

.stars {
  height: 20px;
}
